{% extends 'FTVFrontBundle::layout.html.twig' %}

{% block content %}
  {#<h1>{{ article.title }}</h1>#}

  {#<div id="author">#}
    {#par {{ article.createdBy }}#}
    {#le {{ article.createdAt }}#}
  {#</div>#}

  {#<div class="body">#}
    {#{{ article.body }}#}
  {#</div>#}

  {#<div class="links">#}
    {#<a href="/front/">Retour à la liste</a>#}
    {#<a href="">Supprimer</a>#}
  {#</div>#}
{% endblock %}